<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Dingo | Precios</title>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <div class="nav_info">
                <div class="nav_logo">
                    <a href="/">
                        <img src="/images/newlogo.png" alt="Logo de Dingo">
                    </a>
            </div>
            <div class="nav_items">
                <ul>
                    <li>Productos</li>
                    <a href="/precios">
                        <li>Precios</li>
                    </a>
                    <li>Recursos</li>
                    <li>Soluciones</li>
                </ul>
            </div>
            </div>
            <div class="nav_actions">
                <ul>
                    <li>Ayuda</li>
                    <a href="/registro">
                        <button>Registrarse</button>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 class="heading">Escoge tu plan</h1>
        <div class="pricing-section">
          <div class="toggle-container">
              <span id="monthly-label" class="active">Mensual</span>
              <label class="switch">
                  <input type="checkbox" id="pricing-toggle">
                  <span class="slider round"></span>
              </label>
              <span id="annual-label">Anual</span>
          </div>
          <div class="pricing-container" id="pricing-container">
              <!-- Las tarjetas de precios se generarán dinámicamente con JavaScript -->
          </div>
      </div>
      </div>
    <script src="/pricing.js"></script>
</body>
</html>