<div class="tools">
    <nav class="tools_container">
    <ul>
        <a href="/crm">CRM</a><li></li>
        <li>Marketing</li>
        <li>Contenidos</li>
        <li>Ventas</li>
        <a href="/buyerpersona">Buyer Persona</a><li></li>
    </ul>
</nav>
</div>

<div class="lowbar_container"></div>

