{{#if tools}}
<h2>Hola mundo</h2>
{{else}}
<h1>Adiós mundo</h1>
{{/if}}




<script src="/js/toolbar.js"></script>
{{!-- Si no hay contacto = No existen contactos + ilustracion.
Debajo, debe haber una lista de opciones para contacto, empresa, llamadas, tareas. --}}
