<div class="home_container">
    <div class="home_left">
<h1 class="home_title">Potencia tu marketing digital con Dingo.</h1>
<p>Tu software de Marketing adaptado a las necesidades del mercado argentino. Incrementa tus ventas, mejora la relacion con tus clientes y crea estrategias innovadoras en una sola aplicacion.</p>
    <div class="home_btn">
        <a href="/tools"><button class="btn_home">Iniciar ya gratis</button></a>
        <button class="btn_home">Obtener una prueba</button>
    </div>
    </div>

    <div class="home_right">
        {{!-- <img src="../img/compuorange.png" alt=""> --}}
        <img src="../img/graficosamarillo.gif" alt="">
        {{!-- <img src="../img/manosencompu.gif" alt=""> --}}
    </div>
</div>
