<div class="tools">
    <nav class="tools_container">
    <ul>
        <a href="/crm">CRM</a><li></li>
        <li>Marketing</li>
        <li>Contenidos</li>
        <li>Ventas</li>
        <li>Buyer Persona</li>
    </ul>
</nav>
</div>


