body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @font-face {
    font-family: "AcidGrotesk-R";
    src: url(../public/font/AcidGrotesk-Regular.otf);
  }
  font-family: "AcidGrotesk-R";  
  background-color: black;
}
