<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Dingo</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/137x50.png" alt="Dingo">
        </div>
        <nav>
            <div class="nav_center">
                <ul>
                <li><a href="">Productos</a></li>
                <li><a href="">Precios</a></li>
                <li><a href="">Recursos</a></li>
            </ul>
            </div>
           <div class="nav_right">
            <ul>
                <button class="nav_btn">Iniciar sesion</button>
                <button class="nav_btn">Prueba gratuita</button>
            </ul>
           </div>
        </nav>
    </header>

    <main class="main">
        {{{body}}}
    </main>
</body>
</html>